<!DOCTYPE html>
<html>
  <head>
    <title>Newbie</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- flash message div -->
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>", class="<%= flash_class(key) %>"><%=h value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
